@page "/result"
@using AssessmentOfAcceleratedAgingOfTheHumanBody1.Models.User
@inject ResultsService ResultsService


<div class="results-area">
    <br />
    <h2>Результати тестування</h2>
    <br />

    @if (ResultsService.Results != null)
    {
        <p>Індекс маси тіла: @ResultsService.Results.BodyMassIndex</p>
        <p>Артеріальний тиск: @ResultsService.Results.BloodPressure</p>
        <p>Обхват талії: @ResultsService.Results.WaistCircumference</p>
        <p>Пульс: @ResultsService.Results.HeartRate</p>
        <p>Тривалість сну: @ResultsService.Results.SleepTime</p>
        <p>Циркадні ритми: @ResultsService.Results.CircadianRhythms</p>
        <p>Кількість годин сидячи: @ResultsService.Results.NumberOfHoursSitting</p>
        <p>Кількість сигарет скурених за добу: @ResultsService.Results.NumberOfCigarettesSmokedPerDay</p>
        <p>Кількість алкоголю випитого за добу: @ResultsService.Results.AmountOfAlcoholDrunkPerDay</p>
        <p>Кількість прийомів їжі: @ResultsService.Results.NumberOfMeals</p>
        <p>Результат оцінки якості життя: @DetermineQualityOfLife(ResultsService.Results.ResultsOfTheQualityOfLifeQuestionnaire)</p>
        <p>Результат оцінки ПТСР: @DeterminePTSR(ResultsService.Results.ResultsOfThePTSDQuestionnaire)</p>
        <p>Діагноз: @ResultsService.Results.ResultOfDiagnostic</p>
    }
    else
    {
        <p>No results available.</p>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        // Access ResultsService.Results here if needed
    }

    private string DetermineQualityOfLife(int res)
    {
        if (res <= 12)
        {
            return "Високий рівень життя";
        }
        else if (res <= 20)
        {
            return "Середній рівень життя";
        }
        else
        {
            return "Низький рівень життя";
        }
    }

    private string DeterminePTSR(int res)
    {
        if (res > 4)
        {
            return "У вас є деякі проблеми. Зв'яжіться зі спеціалістом.";
        }
        else 
        {
            return "Психічний стан в нормі.";
        }
    }
}
