@using System.Collections.Generic

@if (currentTab < tabs.Count)
{
    <div class="tabs">
        @switch (currentTab)
        {
            case 1:
            <div>
                <UserLifeInfoForm></UserLifeInfoForm>
            </div>
                <button @onclick="NextTab">Далі</button>
                break;
            case 2:
                <div class="short-question-tab">
                    <ShortQuestionForm AllQuestionsAnswered="@allQuestionsAnswered" AllQuestionsAnsweredChanged="HandleAllQuestionsAnsweredChanged"></ShortQuestionForm>
                </div>
                @if (!allQuestionsAnswered)
                {
                    <p style="color: red;">Вам необходимо ответить на все вопросы</p>
                }
                <button @onclick="NextTab" disabled="@(!allQuestionsAnswered)">Далі</button>
                break;
            case 3:
                <div class="quality-of-life-tab">
                    <QualityOfLifeAssessmentScaleForm AllQuestionsAnswered="@allQuestionsAnswered" AllQuestionsAnsweredChanged="HandleAllQuestionsAnsweredChanged"></QualityOfLifeAssessmentScaleForm>
                </div>
                @if (!allQuestionsAnswered)
                {
                    <p style="color: red;">Вам необходимо ответить на все вопросы</p>
                }
                <button @onclick="NextTab" disabled="@(!allQuestionsAnswered)">Далі</button>
                break;
            default:
                <p>Это вкладка номер @currentTab</p>
                break;
        }
        
    </div>
}
else
{
    <div>
        <h3>End</h3>
        <button @onclick="Finish">Finish</button>
    </div>
}

@code {
    private int currentTab = 1;
    private List<int> tabs = new List<int> { 1, 2, 3, 4 }; // Number of tabs

    private void NextTab()
    {
        currentTab++;
        allQuestionsAnswered = false;
    }

    private void Finish()
    {
        currentTab = 1;
    }
    private bool allQuestionsAnswered = false;
    private void HandleAllQuestionsAnsweredChanged(bool value)
    {
        allQuestionsAnswered = value;
    }
}
